Project_VehicleRentalSystem/.vscode/c_cpp_properties.json
Project_VehicleRentalSystem/.vscode/extensions.json
build-Project_VehicleRentalSystems-Desktop_Qt_6_4_3_MinGW_64_bit-Debug
build-Project_VehicleRentalSystem-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/.qtc_clangd/compile_commands.json
build-Project_VehicleRentalSystem-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/release/object_script.Project_VehicleRentalSystem.Release
